h1   {
  color: blue;
  border-style: solid;
  text-align: center;
  font-size: 44pt;
  border-color: grey;
}

h2   {
  color: blue;
  border-style: solid;
  border-color: grey;
  text-align: center;
  font-size: 24pt;
}
